@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

:root {
    --primary-color: #7C3AeD;
}


body {
    font-family: 'Montserrat',
        sans-serif;
}

h1,
h2 {
    color: var(--primary-color);
}

p {
    color: gray(222, 128, 128);
}

.container {
    color: rgb(93, 50, 57);
    padding: 1rem;
}

.center-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: aliceblue;
    
}

.p-link {
    background-color: var(--primary-color);

}

.s-link {
    border: 1px solid var(--primary-color);
    color: #7C3AeD;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem;

}

.my-footer {

    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 1rem;
    text-align: center;

}

.my-footer .brand{
    color: black;
    font-size: larger;
}

.navigation .nav-pills {
    text-align: right;

}
.nav-pills{
    padding-inline-start: 0;
}

.brand {
    padding: 0.5rem 1rem;
    font-size: x-large;
    font-weight: bold;
    color: burlywood;
}

.nav-item {
    display: contents;
}

.my-header {}

.header-image {
    width: 500px;
    padding-top: 5rem;
    margin: auto;
    display: block;
}

.header-heading {
    text-align: center;
    color: grey;
}